<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335777282051-f1psvm1lvv9pdltl5v1o4e53r7nrh64s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335777282051-f1psvm1lvv9pdltl5v1o4e53r7nrh64s</string>
	<key>API_KEY</key>
	<string>AIzaSyAAneh5GqF3fzn-ACu1IJ60hk9bggh-6L4</string>
	<key>GCM_SENDER_ID</key>
	<string>335777282051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nautiii.bwark</string>
	<key>PROJECT_ID</key>
	<string>bwark-81a84</string>
	<key>STORAGE_BUCKET</key>
	<string>bwark-81a84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335777282051:ios:a4712e8a1c0c7ae62ab636</string>
</dict>
</plist>